.status-badge {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.published {
  composes: status-badge;
  background-color: var(--color-primary-40);
}

.publish {
  composes: status-badge;
  background-color: var(--color-primary-40);
}

.unpublished {
  composes: status-badge;
  background-color: var(--color-error);
}

.unpublish {
  composes: status-badge;
  background-color: var(--color-error);
}

.modified {
  composes: status-badge;
  background-color: var(--color-warning);
}
