.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 0;
  padding: var(--spacing-m);
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-color-surface {
  composes: container;
  background-color: var(--color-surface);
}

.container-color-neutral {
  composes: container;
  background-color: var(--color-neutral-90);
}
