:root {
  --image-size: 240px;
  --icon-size: 36px;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.image {
  border: 1px solid var(--color-neutral);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  position: relative;
  width: var(--image-size);
  height: var(--image-size);
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.select {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  height: var(--icon-size);
  width: var(--icon-size);
}
