# This workflow will do a clean install of node dependencies, build the source code and run tests with node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI
concurrency: CI

on: [push]

jobs:
  extension_static_bundles:
    needs: extension-core
    name: Extension static bundles
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/platform-extension-static-bundles

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - run: npm install
      - run: yarn build
      - run: npm test


